.discPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    height:100vh
}

.discContent {
    display: flex;
    width: 1200px;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    background-color: white;
    height: 100vh
}