.discPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    height:100vh
}

.discContent {
    display: flex;
    width: 1200px;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    background-color: white;
    height: 100vh
}

.discTitle {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 45px;
    font-size: 35px;
    font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;

}