#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(214, 214, 214, 0.7);
  z-index: 997;
}

#modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  z-index: 999;
  width: 400px;
  height: 500px;
}

#delete-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  z-index: 999;
  width: 400px;
  height: 200px;
}

#delete-s-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  z-index: 999;
  width: 400px;
  height: 300px;
}

#playlist-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: white;
  z-index: 999;
  width: 700px;
  height: 400px;
}

#editTrackForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  z-index: 999;
  width: 800px;
  height: 800px;
}

#editPlaylistForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  z-index: 999;
  width: 600px;
  height: 400px;
}

#addToPlaylistForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  z-index: 999;
  width: 500px;
}

.formModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 40%
}

.miniFormModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 60%
}

.editFormModal {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 100%
}

.errorModalCont {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin: 5px 0px;
  padding: 0%;
}

.errorModalText {
  font-size: small;
  color: crimson
}

.formDemoModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 10%
}

.introText {
  text-align: center;
  font-size: 30px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
}

.modalBut {
  background-color: rgb(0, 158, 194);
  cursor: pointer;
  color: white;
  border-radius: 3px;
  border: 0;
  height: 30px;
  width: 100%;
  font-size: larger;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  padding: 0%;
}

.saveBut {
  background-color: rgb(0, 158, 194);
  cursor: pointer;
  color: white;
  border-radius: 3px;
  border: 0;
  height: 30px;
  width: 20%;
  font-size: 15px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  padding: 0%;
  margin-left: 5px;
}

.saveBut:disabled {
  background-color: rgb(126, 126, 126);
  cursor: pointer;
  color: white;
  border-radius: 3px;
  border: 0;
  height: 30px;
  width: 20%;
  font-size: 15px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  padding: 0%;
  margin-left: 5px;
}

.delBut {
  background-color: rgb(0, 158, 194);
  cursor: pointer;
  color: white;
  border-radius: 3px;
  border: 0;
  height: 30px;
  font-size: 15px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  padding: 0% 5%;
  margin-left: 5px;
}

.cancelBut {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: #333;
  border-radius: 3px;
  border: #333 1px solid;
  height: 30px;
  width: 20%;
  font-size: 15px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  padding: 0%;
  margin-right: 5px;
}

.createpl {
  background-color: rgb(0, 158, 194);
  cursor: pointer;
  color: white;
  border-radius: 3px;
  border: 0;
  height: 30px;
  width: 70px;
  font-size: 15px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  padding: 0%;
  margin-left: 5px;

}

.cancelpl {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 3px;
  border: #333 1px solid;
  height: 30px;
  width: 70px;
  font-size: 15px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  padding: 0%;
  margin-left: 5px;

}

.cancelDelBut {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: #333;
  border-radius: 3px;
  border: #333 1px solid;
  height: 30px;
  font-size: 15px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  padding: 0% 5%;
  margin-right: 5px;
}

.txtArea {
  resize: none;
  height:200px
}

.formCont {
  display: flex;
  flex-direction: row;
}

.editFormCont {
  display: flex;
  flex-direction: row;
  height: 80%;
  width:95%
}

.deleteFormCont {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 80%;
  width:95%
}

.deletePLFormCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80%;
  width:95%
}

.editImgCont {
  height:150px;
  width: 150px;
  margin-right:15px
}

.editImg {
  height:150px;
  width: 150px;
}

.editSaveBut {
  display: flex;
  flex-direction: row-reverse;
}

.delNoteHeader{
  font-size: 20px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
}

.delNote{
  font-size: 15px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
}

.playSel {
  box-sizing: border-box;
  border:0;
  margin:5px;
  padding:5px;
  color:rgb(0, 158, 194);
  border-bottom:rgb(0, 158, 194) solid 4px;
  background-color: white;
  font-size: 28px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif
}

.plCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px
}

.createPlaylistForm {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width:100%
}

.createPlaylistForm {
  width: 500px
}

.createFormCont {
  width: 500px
}

.playlistModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%
}

.plTitle {
  font-size: 28px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif
}

.saveAlign {
  display: flex;
  width:100%
}