#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 997;
}

#modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  z-index: 999;
  width: 400px;
  height: 500px;
}

.formModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 40%
}

.miniFormModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 60%
}

.errorModalCont {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin: 5px 0px;
  padding: 0%;
}

.errorModalText {
  font-size: small;
  color: crimson
}

.formDemoModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 10%
}

.introText {
  text-align: center;
  font-size: 30px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
}

.modalBut {
  background-color: rgb(0, 158, 194);
  cursor: pointer;
  color: white;
  border-radius: 3px;
  border: 0;
  height: 30px;
  width: 100%;
  font-size: larger;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  padding: 0%;
}