.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    height:100vh
}

.homeContent {
    display: flex;
    width: 1200px;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
    background-color: white;
    height: 100%
}

.splash {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position:bottom
}

.actionBut {
    display: flex;
    justify-content: space-between;
    position: relative;
    top:5%;
    left:70%;
    width: 200px
}

.signInCond {
    background-color: rgba(10,10,10,.2);
    color: white;
    height: 30px;
    width: 75px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 3px;
}

.signInCond:hover {
    cursor: pointer;
}

.createAccCond {
    background-color: rgb(0, 158, 194);
    cursor:pointer;
    color: white;
    border-radius: 3px;
    border: 0;
    padding: 0px 10px
}

.createAccCond:hover {
    cursor: pointer;
}

.newsText {
    color: #333;
    font-size: 24px;
    padding: 20px 10px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;

}