.uploadPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    height:100vh
}

.uploadContent {
    display: flex;
    width: 1200px;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    background-color: white;
    height: 100%
}

.formCont {
    width: 80%
}

.songForm {
    display: flex;
    flex-direction: column;
}

.trackContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 180px;
    margin: 25px 0px
}

.trackList {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 15px 0px
}

.trackImgCont {
    width: 150px;
    height: 100%
}

.trackImg {
    height:150px;
    width: 150px;
}

.trackDetails {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    padding: 5px 15px
}

.trackTitle {
    position: absolute;
    top:20%;
    color: #333;
    font-size: 20px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.trackArtist {
    position: absolute;
    top:5%;
    color: #999;
    font-size: 15px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}


.trackEdit {
    position: absolute;
    bottom:0%;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.trackDelete {
    position: absolute;
    bottom:0%;
    left: 12%;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.space {
    margin-right:10px
}