/* .galleryBox {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: max-content;
    align-items: center;
    padding: 5px;
    flex-basis: 33%;
} */

.galleryBox {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    box-sizing: border-box;
    width: max-content;
    align-items:flex-start;
    justify-items: center;
    padding: 5px;
    flex-basis: 33%;
    border-style: none;
    margin-bottom: 45px
}

.imgBox:hover {
    cursor: pointer;
}

.imgBox:hover .imgO {
    mix-blend-mode: multiply;
    transition: mix-blend-mode 0.2s linear
}

.imgBox:hover .playButOverlay {
    z-index: 99;
}

.imgBox:hover .ellipsesOverlay {
    z-index: 99;
}

.imgCont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(93, 93, 93, 0.8) 00%, rgba(255,255,255,0) 30%);
    height: 173px;
    width: 173px;
}

.imgBox {
    height: 230px;
    width: 173px;
    background-color:white;
    object-fit:fill;
    overflow: visible;
    align-content: center;
    margin: 5px 5px;
    border-style: none;
}

.imgFill {
    justify-content: center;
    height: 173px;
    width: 173px;
    background-color:white;
    margin: 5px 5px;
    border: 1px #ccc solid;
}

.imgO { 
    background-color: #333;
    border: 1px rgba(111, 111, 111, 0.459) solid;
    mix-blend-mode: normal;
    transition: mix-blend-mode 0.2s linear
}

.leftArr {
    position:relative ;
    left: 5%
}

.rightArr {
    position:relative;
    left: 95%
}

.arrows {
    height:32px;
    width:32px;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.arrows:hover {
    color: #f50;
    border-color: #f50;
}

.titleText {
    color: #333;
    font-size: 14px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif
}

.artistText {
    color: #999;
    font-size: 12px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.playButOverlay {
    position: absolute;
    z-index: -1;
    height:70px;
    width: 70px;
    transition: z-index linear
}

.pauseButOverlay {
    position: absolute;
    z-index: -2;
    height:70px;
    width: 70px;
}

.pauseButForward {
    position: absolute;
    z-index: 100;
    height:70px;
    width: 70px;
}

.ellipsesOverlay {
    position: absolute;
    z-index: -1;
    height:50px;
    width: 65px;
    bottom: 0%;
    right: 0%;
    transition: z-index linear
}

.dropdownCont {
    position: absolute;
    top: 100%;
    left: 10%;
    width: 150px;
    height: 75px;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    background-color: white;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    height:100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    color:#333;
    padding: 8px;
  }
  
  li:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(222, 222, 222);
    cursor: pointer;
  }