.uploadPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    height:100vh
}

.uploadContent {
    display: flex;
    width: 1200px;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    background-color: white;
    height: 100%
}

.uploadTrackForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

.formCont {
    display: flex;
    flex-direction: row;
  }

.songForm {
    display: flex;
    flex-direction: column;

}

.introCreateText {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  }

  .createFormCont {
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 70%
  }

.createSongForm {
    width:80%
}

.uploadSaveBut {
  background-color: rgb(0, 158, 194);
  cursor: pointer;
  color: white;
  border-radius: 3px;
  border: 0;
  height: 30px;
  width: 20%;
  font-size: 15px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  padding: 0%;
  margin-left: 5px;
}

.uploadSaveBut:disabled {
  background-color: rgb(126, 126, 126);
  cursor: pointer;
  color: white;
  border-radius: 3px;
  border: 0;
  height: 30px;
  width: 20%;
  font-size: 15px;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  padding: 0%;
  margin-left: 5px;
}

.toast-container {
  position: fixed;
  top: 2rem;
  right:1.5rem;
  display: grid;
  justify-items: end;
  gap: 1.5rem;
}

.toast {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.5em 1em;
  background-color: lightblue;
  animation: toast 3000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

@keyframes toast {
  0%, 100% {
    transform: translateY(-150%);
    opacity:0 
  }
  10%, 90% {
    transform: translateY(0%);
    opacity:1
  }
}