.uploadPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    height:100vh
}

.uploadContent {
    display: flex;
    width: 1200px;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    background-color: white;
    height: 100%
}

.formCont {
    width: 80%
}

.songForm {
    display: flex;
    flex-direction: column;

}