/* .galleryBox {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: max-content;
    align-items: center;
    padding: 5px;
    flex-basis: 33%;
} */

.miniGalleryBox {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    box-sizing: border-box;
    width: max-content;
    align-items:flex-start;
    justify-items: center;
    padding: 5px;
    flex-basis: 33%;
    border-style: none;
}

.mimgBox:hover {
    cursor: pointer;
}

.mimgBox:hover .mimgO {
    mix-blend-mode: multiply;
    transition: mix-blend-mode 0.2s linear
}

.mimgBox:hover .playButOverlay {
    z-index: 99;
}

.mimgBox:hover .ellipsesOverlay {
    z-index: 99;
}

.mimgCont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(93, 93, 93, 0.8) 00%, rgba(255,255,255,0) 30%);
    height: 173px;
    width: 173px;
}

.mimgBox {
    height: 220px;
    width: 173px;
    background-color:white;
    object-fit:fill;
    overflow: hidden;
    align-content: center;
    margin: 5px 5px;
    border-style: none;
}

.mimgFill {
    justify-content: center;
    height: 173px;
    width: 173px;
    background-color:white;
    margin: 5px 5px;
    border: 1px #ccc solid;
}

.mimgO { 
    background-color: #333;
    border: 1px rgba(111, 111, 111, 0.459) solid;
    mix-blend-mode: normal;
    height:173px;
    width:173px;
    transition: mix-blend-mode 1s linear
}

.leftArr {
    position:relative ;
    left: 5%
}

.rightArr {
    position:relative;
    left: 95%
}

.arrows {
    height:32px;
    width:32px;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.arrows:hover {
    color: #f50;
    border-color: #f50;
}

.titleText {
    color: #333;
    font-size: 14px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif
}

.artistText {
    color: #999;
    font-size: 12px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.playButOverlay {
    position: absolute;
    z-index: -1;
    height:70px;
    width: 70px;
    transition: z-index linear
}

.pauseButOverlay {
    position: absolute;
    z-index: -2;
    height:70px;
    width: 70px;
}

.pauseButForward {
    position: absolute;
    z-index: 100;
    height:70px;
    width: 70px;
}