.navBar {
    display:flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 45px;
    /* top:0%;
    right: 0%; */
    background-color: rgb(51,51,51);
    justify-content: center;
    z-index: 100;
}

.navContent {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 1200px;
    justify-content: space-between;
}

.navList {
    display:flex;
    flex-direction: row;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.navBut {
    background-color: rgb(51,51,51);
    color:rgb(244,244,244)
}

.searchForm {
    display: flex;
}

.searchInput {
    display: flex;
    border-radius: 5px;
}

.createAcc {
    background-color: rgb(0, 158, 194);
    cursor:pointer;
    color: white;
    border-radius: 3px;
}

.logo {
    width: 60px;
    height: 40px
}

.navDemoBut {
    background-color: rgb(0, 158, 194);
    cursor:pointer;
    color: white;
    border-radius: 3px;
    border: 0;
    height: 30px;
    width: 80px;
    font-size: larger;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    padding: 0%;
  }