.navBar {
    display:flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    /* top:0%;
    right: 0%; */
    background-color: rgb(51,51,51);
    justify-content: center;
    z-index: 100;
}

.navList {
    display:flex;
    flex-direction: row;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.navBut {
    background-color: rgb(51,51,51);
    color:rgb(244,244,244)
}

.searchForm {
    display: flex;
}

.searchInput {
    display: flex;
    border-radius: 5px;
}

.createAcc {
    background-color: rgb(255,85,0);
    cursor:pointer;
    color: white;
    border-radius: 3px;
}

.logo {
    width: 60px;
    height: 40px
}