.navBar {
    display:flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 45px;
    /* top:0%;
    right: 0%; */
    background-color: rgb(51,51,51);
    justify-content: center;
    z-index: 100;
}

.navContent {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 1200px;
    justify-content: space-between;
}

.navListLinks {
    display:flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.navListSessions {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.navBut {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height:45px;
    background-color: rgb(51,51,51);
    color:rgb(244,244,244);
    text-decoration:none;
    font-size: 13.3px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.light {
    background-color: rgb(51,51,51);
}

.dark {
    background-color: #111;
}

.searchForm {
    display: flex;
}

.searchInput {
    display: flex;
    border-radius: 5px;
}

.createAcc {
    background-color: rgb(0, 158, 194);
    cursor:pointer;
    color: white;
    border-radius: 3px;
}

.logo {
    width: 70px;
    height: 45px
}

.navDemoBut {
    background-color: rgb(0, 158, 194);
    cursor:pointer;
    color: white;
    border-radius: 3px;
    border: 0;
    height: 30px;
    width: 80px;
    font-size: larger;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    padding: 0%;
  }

  .createAccCond {
    background-color: rgb(0, 158, 194);
    cursor:pointer;
    color: white;
    border-radius: 3px;
    border: 0;
    height: 30px;
    width: 120px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    padding: 0%;
  }

  .uploadNavBar {
    display: flex;
    width: 100px;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    color: white;
    background-color: rgb(51,51,51);
    padding: 0;
    border: none;
    background: none;
  }

  .menuCont {
    position: relative;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51,51,51);
    position: relative;
    right: 97px;
    top:45px;
    height:45px;
    width: 100px;
    opacity: 0;
    visibility: hidden;
  }
  
  .menu.active {
    opacity: 1;
    visibility: visible;
  }

  .log {
    background: rgb(51,51,51);
    color: white;
    height:100%;
    width:100%;
    border:none;
  }

  .icon {
    height:30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .drk {
    background-color: #111;
  }